[Unit]
Description=Control Things from the Internet

[Service]
ExecStart=/home/pi/git/control-things-from-the-internet/driver/things-driver.js 
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/git/control-things-from-the-internet/driver

[Install]
WantedBy=multi-user.target
